/* About styles */

.about {
  padding: 120px 0;
  
  .container {
    display: flex;
    align-items: flex-start;
  }
  
  .pre-title {
    color: $main-color;
    margin-bottom: $specific-ident;
  }
  
  .title {
    color: var(--title-second-color);
    margin-bottom: var(--specific-ident);
  }
  
  .after-title {
    font-size: 18px;
    line-height: calc(30 / 18);
    letter-spacing: 0.02em;
    color: $second-color;
    margin-bottom: $specific-ident;
  }
}

.about-img {
  margin-right: 30px;
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: $second-color;
  margin-bottom: 42px;
}

.about-button {
  color: $button-second-color;
}
