/* Booking Contacts */

.booking-contacts {
  background-color: #191c26;
  display: flex;
  justify-content: space-between;
  height: 634px;
  background-repeat: no-repeat;
  background-position: right;
  .booking {
    padding-top: 130px;
    padding-left: 216px;
    padding-right: 30px;
  }
  .contacts {
    width: 50%;
    background-image: url(../img/contacts-bg.png);
  }
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
}

.booking-form input {
  padding-bottom: 8px;
}

.booking-form input,
.booking-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
}

.booking-form input:focus,
.booking-form textarea:focus {
  border-bottom: 1px solid #fff;
  outline: transparent;
  color: #fff;
}

.booking-form input::placeholder,
.booking-form textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

.booking-form input:focus::placeholder,
.booking-form textarea:focus::placeholder {
  color: #fff;
}

.booking-form input {
  width: 270px;
  height: 24px;
  margin-bottom: 44px;
}

.booking-form .textarea-wrapper {
  width: 100%;
  margin-bottom: 44px;
}

.booking-form textarea {
  width: 570px;
  height: 76px;
  resize: none;
  display: block;
}

.booking-form .button {
  display: inline-block;
  color: var(--button-first-color);
}

.booking-form .name-input + input {
  margin-left: 30px;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
  .contact-address {
    font-style: normal;
  }
  .address-item {
    margin-bottom: 20px;
  }
  .address-link {
    display: flex;
    align-items: center;
    color: #9da4bd;
  }
  .icon {
    margin-right: 16px;
    fill: none;
    stroke: currentColor;
  }
}

.contacts .title,
.booking .title {
  color: var(--title-first-color);
  margin-bottom: 40px;
}

.contacts .address-link:hover {
  color: var(--accent-color);
}

.contacts .address-link:hover,
.contacts .address-link:focus {
  color: var(--accent-color);
}
