
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms, visibility 500ms;
}

.modal-backdrop.is-hidden .modal {
  transform: rotate(-180deg);
}

.modal {
  width: 500px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 1000ms linear;
  background-color: #ffffff;
  border-radius: 20px;
}

.modal .close-sign {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
}

.modal-input {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: #ff6c00;
  font: 500;
  font-size: 14px;
}

.modal-textarea {
  resize: none;
  width: 100%;
  border-radius: 10px;
 color: #ff6c00;
  font: 500;
  font-size: 14px;
  margin-bottom: 20px;
}

